.App-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(156, 108, 52);
    border-bottom: 2px solid rgb(75, 33, 2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }

    /*** Titre ***/
    .Header-h1 {
      width: 20%;
    }

    .Header-h1 h1 {
      margin: 0;
      margin-left: 40px;
      padding: 0;
      font-size: 40px;
      color: rgb(54, 23, 0);
    }

    /*** Date ***/
    .Date {
      justify-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      font-size: 75%;
      height: 100%;
      width: 20%;
    }

    .Calendar {
      height: 20px;
      width: 20px;
      margin: 5px;
      color: rgb(54, 23, 0);
    }

    .Date h2 {
      color: rgb(54, 23, 0);
    }

    /*** Barre de navigation ***/
    .navbar {
      width: 20%;
      margin-right: 30px;
    }

    .navbar li {
      margin-right: 20px;
      display: inline;
    }

    .navbar a {
      font-weight: 700;
      text-decoration: none;
      color: rgb(85, 50, 21);
    }

    .navbar a:hover {
      text-decoration: underline;
    }