.Contact {
    display: grid;
  grid-template-rows: 60px 1fr auto;
  min-height: 100vh;
  background-color: rgb(168, 97, 30);
  background-image: url('../../Assets/cafe.png');
  animation: moveCoffeeCup 360s linear infinite;
}

@keyframes moveCoffeeCup {
    from {
      background-position: top left;
    } to {
      background-position: bottom right;
    }
}

.Contact-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.Contact-sidebar {
    display: flex;
    justify-content: flex-end;
}

.Titre-form {
    margin: 20px;
    width: auto;
    height: auto;
    background-color: rgb(219, 163, 111);
    border-radius: 5px;
    border: 1px solid rgb(82, 39, 0);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

.Titre-form h1 {
    padding: 7px;
    margin: 0;
    padding-left: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(82, 39, 0);
}

.Bloc-donnees {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  border-radius: 5px;
  min-height: 50px;
  border: solid 1px rgb(82, 39, 0);
  background-color: rgb(219, 163, 111);
}

.bloc-donnee {
  margin: 0;
  padding: 0;
}

.bloc-donnee a {
  text-decoration: none;
  color: rgb(82, 39, 0);
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 5px 0 5px;
  height: 30px;
  border-radius: 5px;
}

.bloc-donnee a:hover {
  background-color: rgb(170, 119, 72);
}

.donnee-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

form {
  position: relative;
  padding: 10px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(219, 163, 111);
  border: 1px solid rgb(82, 39, 0);
}

#ExpForm {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

#ExpForm h3 {
  margin: 5px;
  margin-left: 10px;
  color: rgb(82, 39, 0);
}

#ExpForm p {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  font-size: 13px;
}

.form1prt {
  display: flex;
  margin-bottom: 10px;
}

#label1 {
  display: flex;
  flex-direction: column;
}

#label1 label {
  color: rgb(82, 39, 0);
  font-weight: bold;
}

#label1 input {
  padding: 4px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid rgb(82, 39, 0);
  background-color: rgb(238, 218, 199);
}

#label2 {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

#label2 label {
  color: rgb(82, 39, 0);
  font-weight: bold;
}

#label2 input {
  padding: 4px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid rgb(82, 39, 0);
  background-color: rgb(238, 218, 199);
}

.form2prt {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.form2prt label {
  color: rgb(82, 39, 0);
  font-weight: bold;
  margin-bottom: 5px;
}

.form2prt textarea {
  border-radius: 5px;
  border-color: rgb(82, 39, 0);
  min-height: 100px;
  max-height: 600px;
  min-width: 50%;
  max-width: 80%;
  overflow: auto;
}

#button {
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: none;
  background-color: rgb(82, 39, 0);
  color: white;
}