.Article {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: rgba(117, 64, 15, 0.9);
    border: 2px solid rgb(56, 25, 0);
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: relative;
}

.Illustration {
    height: 80%;
    width: auto;
    Margin-left: 10px;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    min-height: 100px;
    max-height: 500px;
    min-width: 100px;
    max-width: 500px;
}

.TextArticle {
    display: flex;
    flex-direction: column;
}

.TitreArticle {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-size: larger;
}

.Categorie {
    margin: 0;
    padding: 0;
    margin-left: 3%;
    font-style: italic;
    font-size: small;
    text-decoration: underline;
    color: rgb(170, 81, 8);
}

.More {
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    text-align: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(44, 20, 1);
    height: 10%;
    width: 20%;
}

.More:hover {
    color: black;
}