.App-footer {
    background-color: #3d1e00;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

  .App-footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .App-footer li {
    display: inline;
    margin: 0 15px;
  }

  .App-footer a {
    color: white;
    text-decoration: none;
  }

  .App-footer a:hover {
    text-decoration: underline;
  }

  .App-footer p {
    margin: 10px 0 0;
    font-size: 14px;
    color: rgb(156, 102, 52);
  }